.input {
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--space-s) var(--space-xs) var(--space-s) var(--space-xs);
    max-height: 52px;
    width: 300px;
    cursor: text;
    transition: border-color 0.3s;
    border: 1px solid transparent;
}

.input:focus-within {
    border-color: var(--color-accent);
}

input {
    border: none;
    outline: none; /* Remove default focus outline */
    width: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0;

}
.input_disabled {
    cursor: default;
}

