.primary {
    color: #000000;
}

.button {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}

.title {
    font-family: 'Roboto';
    font-size: 44px;
    font-weight: 700;
    line-height: 48px;
}

.p-20 {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}

.p-18 {
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
}

.p-16 {
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.p-14 {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;

}