
.header {
    border-bottom: 2px solid #F3F3F3;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    height: 90px;
}

.nav {
    display: flex;
    gap: var(--space-xl);
}

.profile_backet_container {
    display: flex;
    gap: var(--space-xl);
}